/*
 * This file contains all the typography used in this application.
 * Updates April 28, 2020
 */ 


@font-face {
    font-family: 'soehne-breit';
    src: url('/../briancollins/src/assets/styles/soehne-breit-web-kraftig.woff') format('woff'),
        url('/../briancollins/src/assets/styles/soehne-breit-web-kraftig.woff2') format('woff2');
}

/*

@font-face {
    font-family: 'soehne';
    src: url('soehne-web-kraftig.woff2') format('woff2'),
         url('soehne-web-kraftig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/
